<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

> <strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file.

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG" />

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: [https://www.kaggle.com/promptcloud/jobs-on-naukricom](https://www.kaggle.com/promptcloud/jobs-on-naukricom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01) under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
type(data)

dict

In [6]:
print(data)   # print the data just to check the output or for debugging

{'number': 10, 'people': [{'name': 'Oleg Artemyev', 'craft': 'ISS'}, {'name': 'Denis Matveev', 'craft': 'ISS'}, {'name': 'Sergey Korsakov', 'craft': 'ISS'}, {'name': 'Kjell Lindgren', 'craft': 'ISS'}, {'name': 'Bob Hines', 'craft': 'ISS'}, {'name': 'Samantha Cristoforetti', 'craft': 'ISS'}, {'name': 'Jessica Watkins', 'craft': 'ISS'}, {'name': 'Cai Xuzhe', 'craft': 'Tiangong'}, {'name': 'Chen Dong', 'craft': 'Tiangong'}, {'name': 'Liu Yang', 'craft': 'Tiangong'}], 'message': 'success'}

Print the number of astronauts currently on ISS.

In [7]:
print(data.get('number'))

10

Print the names of the astronauts currently on ISS.

In [8]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 10 astronauts on ISS
And their names are :
Oleg Artemyev
Denis Matveev
Sergey Korsakov
Kjell Lindgren
Bob Hines
Samantha Cristoforetti
Jessica Watkins
Cai Xuzhe
Chen Dong
Liu Yang

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

*   Los Angeles
*   New York
*   San Francisco
*   Washington DC
*   Seattle
*   Austin
*   Detroit

In [9]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>

> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.

Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01">link</a>

##### The keys in the json are

*   Job Title

*   Job Experience Required

*   Key Skills

*   Role Category

*   Location

*   Functional Area

*   Industry

*   Role

You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01">json</a> URL.

In [12]:
api_url = "http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    #your code goes here
    payload = {"Key Skills": technology}
    response = requests.get(api_url, params = payload)
    
    if response.ok:
        data = response.json()
        
        # find the number of jobs
        number_of_jobs = len(data)
    return technology, number_of_jobs

Calling the function for Python and checking if it works.

In [13]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [20]:
def get_number_of_jobs_L(location):
    #your coe goes here
    payload = {"Location": location}
    response = requests.get(api_url, params = payload)
    
    if response.ok:
        data = response.json()

        # find the number of jobs
        number_of_jobs = len(data)
    return location, number_of_jobs

Call the function for Los Angeles and check if it is working.

In [21]:
#your code goes here
get_number_of_jobs_L('Los Angeles')

('Los Angeles', 640)

In [22]:
#your code goes here
get_number_of_jobs_L('New York')

('New York', 3226)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [23]:
#your code goes here
Cities = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

Import libraries required to create excel spreadsheet

In [25]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 22.8 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [26]:
# your code goes here
from openpyxl import Workbook

Create a workbook and select the active worksheet

In [51]:
# your code goes here
wb=Workbook()
ws=wb.active
ws.append(Cities)

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [48]:
# your code goes here
def get_number_of_jobs_for_Location(location):
    # your coe goes here
    ws.append(['City', 'Number_of_Jobs'])
    Jobs = []
    for city in location:
        # create an empty list to append later 
        # whenever the loop run for a different city, this list will be empty, and then updated under the if statement below
        city_job = []
        
        payload = {"Location": city}
        response = requests.get(api_url, params = payload)

        if response.ok:
            data = response.json()
            # create a city list
            # city_job = [city]
            city_job.append(city)

            # find the number of jobs
            number_of_jobs = [len(data)]

            # extend the city_job
            # Since city_job is a list, we can extend/append it with number_of_jobs
            # this extend the list from 1 item to 2 items of this form: ['city', number_of_jobs]
            city_job.extend(number_of_jobs)
            
            # Append Jobs list to create a list of list of Cities and number of Jobs
            # since city_job is a list of 2 items, appending Jobs lit will create a list of lists of 2 items per list
            # i.e. [[city1, num1], [city2, num2],...[cityN, numN]].
            Jobs.append(city_job)

            # append the workbook
            # ws.append(city_job)
            
    return Jobs

In [50]:
#your code goes here
get_number_of_jobs_for_Location(Cities[:])

[['Los Angeles', 640],
 ['New York', 3226],
 ['San Francisco', 435],
 ['Washington DC', 5316],
 ['Seattle', 3375],
 ['Austin', 434],
 ['Detroit', 3945]]

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [58]:
# your code goes here
def get_number_of_jobs_for_Location(location):
    # your coe goes here
    wb=Workbook()
    ws=wb.active
    ws.append(['City', 'Number_of_Jobs'])
    
    Jobs = []
    for city in location:
        # create an empty list to append later 
        # whenever the loop run for a different city, this list will be empty, and then updated under the if statement below
        city_job = []
        
        payload = {"Location": city}
        response = requests.get(api_url, params = payload)

        if response.ok:
            data = response.json()
            # create a city list
            # city_job = [city]
            city_job.append(city)

            # find the number of jobs
            # save in a list named number_of_jobs
            number_of_jobs = [len(data)]

            # extend the city_job
            # Since city_job is a list, we can extend/append it with number_of_jobs
            # this extend the list from 1 item to 2 items of this form: ['city', number_of_jobs]
            city_job.extend(number_of_jobs)
            
            # Append Jobs list to create a list of lists of Cities and number of Jobs
            # since city_job is a list of 2 items, appending Jobs lit will create a list of lists, of 2 items per list
            # i.e. [[city1, num1], [city2, num2],...[cityN, numN]].
            Jobs.append(city_job)

            # append the workbook
            ws.append(city_job)
        # save the workbook
        wb.save("job-postings.xlsx") 
            
    return Jobs

In [59]:
#your code goes here
get_number_of_jobs_for_Location(Cities[:])

[['Los Angeles', 640],
 ['New York', 3226],
 ['San Francisco', 435],
 ['Washington DC', 5316],
 ['Seattle', 3375],
 ['Austin', 434],
 ['Detroit', 3945]]

In [78]:
# Use pandas to create a dataframe to read the saved excel file ("job-postings.xlsx")
# View the contents of the dataframe
City_Job_Postings = pd.read_excel("job-postings.xlsx")
City_Job_Postings.sort_values(by='Number_of_Jobs', ascending = False)

            City  Number_of_Jobs
3  Washington DC            5316
6        Detroit            3945
4        Seattle            3375
1       New York            3226
0    Los Angeles             640
2  San Francisco             435
5         Austin             434

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [73]:
# your code goes here
technologies = ['C', 'C#', 'C++',  'Java', 'JavaScript',  'Python', 'Scala', 'Oracle', 
                'SQL Server', 'SQL', 'MySQL', 'MySQL Server','PostgreSQL','MongoDB']

In [74]:
# your code goes here
def get_number_of_jobs_for_Technologies(technology):
    # your coe goes here
    wb=Workbook()
    ws=wb.active
    ws.append(['Technology', 'Number_of_Jobs'])
    
    Jobs = []
    for Tech in technology:
        # create an empty list to append later 
        # whenever the loop run for a different Tech, this list will be empty, and then updated under the if statement below
        Tech_job = []
        
        payload = {"Key Skills": Tech}
        response = requests.get(api_url, params = payload)

        if response.ok:
            data = response.json()
            # create a Tech list
            # Tech_job = [Tech]
            Tech_job.append(Tech)

            # find the number of jobs
            # save in a list named number_of_jobs
            number_of_jobs = [len(data)]

            # extend the Tech_job
            # Since Tech_job is a list, we can extend/append it with number_of_jobs
            # this extend the list from 1 item to 2 items of this form: ['Tech', number_of_jobs]
            Tech_job.extend(number_of_jobs)
            
            # Append Jobs list to create a list of lists of Cities and number of Jobs
            # since Tech_job is a list of 2 items, appending Jobs lit will create a list of lists, of 2 items per list
            # i.e. [[Tech1, num1], [Tech2, num2],...[TechN, numN]].
            Jobs.append(Tech_job)

            # append the workbook
            ws.append(Tech_job)
        # save the workbook
        wb.save("job-postings-by-Technology.xlsx") 
            
    return Jobs

In [75]:
get_number_of_jobs_for_Technologies(technologies)

[['C', 13498],
 ['C#', 333],
 ['C++', 305],
 ['Java', 2609],
 ['JavaScript', 355],
 ['Python', 1173],
 ['Scala', 33],
 ['Oracle', 784],
 ['SQL Server', 250],
 ['MySQL Server', 0],
 ['PostgreSQL', 10],
 ['MongoDB', 174]]

In [77]:
# Use pandas to create a dataframe to read the saved excel file ("job-postings.xlsx")
# View the contents of the dataframe
Tech_Job_Postings = pd.read_excel("job-postings-by-Technology.xlsx")
Tech_Job_Postings.sort_values(by='Number_of_Jobs', ascending = False)

      Technology  Number_of_Jobs
0              C           13498
3           Java            2609
5         Python            1173
7         Oracle             784
4     JavaScript             355
1             C#             333
2            C++             305
8     SQL Server             250
11       MongoDB             174
6          Scala              33
10    PostgreSQL              10
9   MySQL Server               0

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-01-19        | 0.3     | Lakshmi Holla     | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2022 IBM Corporation. All rights reserved.