<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [3]:
# Your code here
import pandas as pd 
from bs4 import BeautifulSoup
import requests

Download the webpage at the url

In [9]:
#your code goes here
html_data =requests.get(url).text

Create a soup object

In [10]:
#your code goes here
soup = BeautifulSoup(html_data, 'html5lib')

In [11]:
soup

<!DOCTYPE html>
<html lang="en"><head>
<title>
Salary survey results of programming languages
</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<hr/>
<h2>Popular Programming Languages</h2>
<hr/>
<p>Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.</p>
<p>There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.</p>
<p>Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.</p>
<hr/>
<table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>
<hr/>

</body></html>

Scrape the `Language name` and `annual average salary`.

In [12]:
#your code goes here
read_html_table = pd.read_html(str(soup))

# we only have one table in this url
read_html_table

[      0           1                                          2  \
 0   No.    Language                                 Created By
 1     1      Python                           Guido van Rossum
 2     2        Java                              James Gosling
 3     3           R               Robert Gentleman, Ross Ihaka
 4     4  Javascript                                   Netscape
 5     5       Swift                                      Apple
 6     6         C++                          Bjarne Stroustrup
 7     7          C#                                  Microsoft
 8     8         PHP                             Rasmus Lerdorf
 9     9         SQL    Donald D. Chamberlin, Raymond F. Boyce.
 10   10          Go  Robert Griesemer, Ken Thompson, Rob Pike.

                         3                    4
 0   Average Annual Salary  Learning Difficulty
 1                $114,383                 Easy
 2                $101,013                 Easy
 3                 $92,037                 Hard
 4                $110,981                 Easy
 5                $130,801                 Easy
 6                $113,865                 Hard
 7                 $88,726                 Hard
 8                 $84,727                 Easy
 9                 $84,793                 Easy
 10                $94,082            Difficult  ]

In [13]:
read_html_table[0]

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [25]:
# Save as a Dataframe
df_data = read_html_table[0]

# set row 0 as our columns
df_data.columns = df_data.iloc[0,:]

# delete or exclude row 0
df_data = df_data.iloc[1:,:]

# final Data
df_data = df_data[['Language', 'Average Annual Salary']]
df_data.rename({'Average Annual Salary': 'Average Annual Salary (USD)'}, axis=1, inplace=True)

# remove the $ from the values
df_data['Average Annual Salary (USD)'] = df_data['Average Annual Salary (USD)'].str.replace(',|\$',"")

# convert to Annual Salary to Float
df_data['Average Annual Salary (USD)'] = df_data['Average Annual Salary (USD)'].astype(float)

# sort salary in descending order
df_data.sort_values(by='Average Annual Salary (USD)', ascending =False, inplace=True)

df_data

C:\Users\a238737\AppData\Local\Temp\1\ipykernel_26260\2316994721.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data['Average Annual Salary (USD)'] = df_data['Average Annual Salary (USD)'].str.replace(',|\$',"")

0     Language  Average Annual Salary (USD)
5        Swift                     130801.0
1       Python                     114383.0
6          C++                     113865.0
4   Javascript                     110981.0
2         Java                     101013.0
10          Go                      94082.0
3            R                      92037.0
7           C#                      88726.0
9          SQL                      84793.0
8          PHP                      84727.0

Save the scrapped data into a file named *popular-languages.csv*

In [26]:
# your code goes here
df_data.to_csv('popular-languages.csv', index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01).